<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        colors="true"
        stopOnFailure="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Payment Gateway Logger Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/coverage" title="Payment Gateway Logger Code Coverage"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
